@font-face {
    font-family: melody;
    src: url(BLMelody-Light.otf);
}

::selection {
    background:rgb(255, 248, 171)
}


/*full gradient background*/

/* navigation bar */
    .navigation-bar{
        overflow: hidden;
        background-color: white;
        box-shadow: 0px 2px 0px #E1E0E0;
        position: fixed;
        width: 100%;
        font-family: melody;
        z-index: 999;
    }

    .nav-rhs{
        float: right;
        color: #747474;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        font-family: melody;
    }

    .nav-rhs a{
        float: right;
        color: #747474;
        text-align: center;
        padding: 15px 24px;
        text-decoration: none;
        font-size: 17px;
        font-family: melody;
    }

    .socials {
        width: 13.25em;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .socials a.name{
        float: left;
        background-color: #D6F514;
        text-align: center;
        padding: 15px 12px;
        text-decoration: none;
        font-size: 17px;
    }

    .nav-rhs a:hover{
        background-color: #D6F514;
        color: black;
    }

    .nav-rhs a:active{
        background: #D6F514;
        color: rgb(0, 0, 0) /*got to fix this*/
    }

    .socials a{
        text-decoration: none;
        font-size: 1.5rem;
        padding: 0px 0px;
        color: #747474
    }

    .linkedin:hover{
        color: #0a66c2;
    }

    .twitter:hover{
        color: #1d9bf0;
    }

    .hero{
        height: 100vh;
        margin: 0px;
        font-family: melody;
    }
    .avatar-out{
        height: 50%;
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        align-items: middle;
        justify-content: left;
        flex-direction: row;
    }

    .hero-image{
        transform: translate(65px, -25px);
    }
    .avatar {
        border-radius: 50%;
        border: 5px solid #D6F514;
        max-width: 1000px;
        min-width: 400px;
        box-shadow: 2px 2px 2px #E1E0E0;
        display: table;
    }

    /*caraousel styling*/

    #homepage-carousel {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: space-around;
        align-items: center;
        padding: 3rem;
        width: 100%;
        height: 100vh;
        margin-left: 2%;
        transform: translateY(-50px);
        background: rgb(255, 255, 255);
        background-image: linear-gradient(rgba(233, 233, 233, 0.7) .1em, transparent .1em), linear-gradient(90deg, rgba(233, 233, 233, 0.7) .1em, transparent .1em);
        background-size: 3em 3em;
    }

    .about {
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-size: 62px;
        color: rgb(0, 0, 0);
        font-style: none;
        width: 45%;
    }

    h4{
        margin:0%;
    }
    
    .description {
        padding-top: 0rem;
        font-size: 20px;
        color: rgb(0, 0, 0);
        justify-content: center;
    }

    